<section class="footer">

    <article class="menu">
        <ul>
            <li>
                <a href="">Contacts</a>
            </li>
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <ul class="social-media">
                    <li>
                        <a href=""><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </article>
    <article class="copyright">
        <p>
            © Copyright 2021 ArtQuality LTD - All Rights Reserved.
        </p>
    </article>
    
</section>