<section class="register-form">
    <section class="register-logo">
        <i class="fab fa-pushed"></i>
        <h1>Art Quality</h1>
    </section>
    <form action="" class="register">
        <label for=""> 
            <i class="far fa-user"></i>
            <input type="text" placeholder="First Name">
        </label>
        <label for=""> 
            <i class="far fa-user"></i>
            <input type="text" placeholder="Last Name">
        </label>
        <label for=""> 
            <i class="far fa-envelope-open"></i>
            <input type="email" placeholder="Email">
        </label>
        <label for=""> 
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password">
        </label>
        <label for=""> 
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirm Password">
        </label>
        <button type="submit" class="submit-btn">Submit</button>
    </form>

</section>