<section class="profile">
    <article class="profile-image">
        <img src="https://profile-images.xing.com/images/61f4917cb416a40aec5d60efb36813bb-2/melissa-peters.1024x1024.jpg"
            alt="">
    </article>
    <article class="user-info">
        <p>First Name: {{user.firstName}} </p>
        <p>Last Name: {{user.lastName}}</p>
        <p>Email: {{user.email}}</p>
        <p>Active Courese: 2</p>
        <!-- <article class="edit-btn">
            <a href="">Edit</a>
        </article> -->
    </article>
</section>