
.profile {
  margin-top: 150px;
  margin-left: 100px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.profile-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 250px;
}
.user-info{
    font-size: 25px;
}

.user-info h1{
    margin-top: 0;
    color: rgb(40, 81, 128);
}
.edit-btn {
  margin-top: 70px;

}
.edit-btn a{
  text-decoration: none;
    background-color: rgb(40, 81, 128);
    padding: 16px 92px;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    color: white;
}