<section class="profile">
    <article class="profile-image">
        <img src="https://profile-images.xing.com/images/61f4917cb416a40aec5d60efb36813bb-2/melissa-peters.1024x1024.jpg"
            alt="">
    </article>
    <article class="user-info">
        <h1>Melisa Peters</h1>
        <p>emial@gmail.com</p>
        <p>Active Courese: 2</p>
        <p>Successfully completed courses: 15</p>
        <p>Certificates: 4</p>
        <article class="edit-btn">
            <a>Edit</a>
        </article>
    </article>
</section>