<section class="header">
    <article class="logo">
        <i class="fab fa-pushed"></i>
        <h1> <a routerLink="/home">Art Quality</a></h1>
    </article>
    <article class="welcome-message" *ngIf="isLogged">
        <a routerLink="/profile">Welcome {{email}}</a>
    </article>
    <article class="menu">
        <ul>
            <li>
                <a routerLink="/courses">Courses</a>
            </li>
            <li *ngIf="isLogged && isAdmin">
                <a routerLink="/addCourse">Add Course</a>
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="/register">Register</a>
            </li>
            <li *ngIf="isLogged">
                <a routerLink="/profile">Profile</a>
            </li>
            <li *ngIf="isLogged">
                <a routerLink="/myCourse">My Courses</a>
            </li>
            <li *ngIf="isLogged">
                <a href="" (click)="logout()">Logout</a>
            </li>
        </ul>
    </article>
</section>