<section class="courses-banner">
    <h1>Art History Courses</h1>
</section>
<div *ngIf="!courses" class="loading">
    <p>Loading...</p>
</div>
<a href="">
    <section></section>
</a>
<section class="allCourses">
    <section class="courses" *ngFor="let course of courses">
        <a href="" *ngIf="!isInThePast(course)"  [routerLink]="['/courses',course.id]">
            <section class="course">
                <article class="course-image">
                    <img src={{course.imageUrl}} alt="">
                </article>
                <article class="course-desc">
                    <h1>{{course.courseName}}</h1>
                    <p>Weeks: {{course.weeks}}</p>
                </article>
            </section>
        </a>
    </section> 
</section>
       