<section class="signIn-form">
    <section class="signIn-logo">
        <i class="far fa-user"></i>
    </section>
    <form  class="signIn" #form="ngForm" (ngSubmit)="loginHandler(form)">
        <label for="email"> 
            <i class="far fa-envelope-open"></i>
            <input #email type="email" name="email" placeholder="Email" ngModel  >
        </label>
        <label for="password"> 
            <i class="fas fa-lock"></i>
            <input #password type="password" name="password" placeholder="Password" ngModel  > 
        </label>
           <button class="submit-btn">Submit</button>
    </form>

</section>
