<section class="signIn-form">
    <section class="signIn-logo">
        <i class="far fa-user"></i>
    </section>
    <form action="" class="signIn">
        <label for=""> 
            <i class="far fa-envelope-open"></i>
            <input #email type="email" placeholder="Email">
        </label>
        <label for=""> 
            <i class="fas fa-lock"></i>
            <input #password type="password" placeholder="Password">
        </label>
           <button class="submit-btn" (click)="login(email.value, password.value)">Submit</button>
    </form>

</section>