    <section class="banner">
        <article class="desc">
            <h1>Learn Without Limits</h1>
            <p>Build skills with courses, certificates, and degrees online</p>
            <button *ngIf="!isLogged" routerLink = "/register" >Join for Free</button>
            <button *ngIf="isLogged" routerLink = "/courses" >Find your course</button>
        </article>
        <article class="image-banner">
            <img src="https://www.uniq.ox.ac.uk/sites/default/files/portfolio/art21.jpg" alt="">
        </article>t
    </section>

    <section class="cards">
        <article class="card">
            <i class="fas fa-brain"></i>
            <h2>Learn the
                latest skills</h2>
            <p>like the artists and their history</p>
        </article>
        <article class="card">
            <i class="fas fa-chalkboard-teacher"></i>
            <h2>Get ready
                for a career</h2>
            <p>in areas such as teacher, tour guide, etc.</p>
        </article>
        <article class="card">
            <i class="fas fa-certificate"></i>
            <h2>Earn
                a degree</h2>
            <p>from a leading university in art history</p>
        </article>
    </section>

    <section class="mtovation">
        <article class="image"><img src="../../assets/VladimirDimitrov.jpg" alt=""></article>
        <article class="desc">
            <h2>Why study Art History?</h2>
            <p>Have you ever looked at something and wondered why it looks the way that it does? Do you like visiting
                museums and galleries and thinking about the objects you see? Are you interested in finding out about
                the
                historical, religious, literary and cultural contexts that shaped and changed these objects as they were
                made, used and admired? Then a degree in History of Art could be for you.

                You don’t need to have studied History of Art before. If you are visually sensitive and interested in
                anything from history, literature, philosophy, religion and foreign languages (modern and/or ancient) to
                politics, economics, music, science or maths then you have something you can bring to our understanding
                of
                the subject.

                Studying Art History doesn’t just mean looking at paintings and sculptures (although we do a lot of
                that):
                art historians study anything that was made at least partly to be looked at – anything with an aesthetic
                side to it. Teapots, churches, jewellery, wallpaper, gardens, gravestones, temples, picture frames,
                coins,
                graffiti, wall paintings, plates, fans, printed books, clothes, gargoyles, houses, pottery, illuminated
                manuscripts, palaces, candlesticks, museum design... all of these can be and are studied by an art
                historian.

                We study these objects in their historical and cultural contexts, and ask a lot of questions. Who made
                them?
                What subject is shown? What are they made of? When were they made? How were they used? Who used them?
                How do
                they compare to similar objects, or other representations of the same subject? We ask these questions in
                different ways, but the most important question an art historian asks is: why does this object (be it a
                painting, sculpture, building, or something else) look the way it does and have the impact that it does?
            </p>
        </article>

    </section>